.container{
    background-color: #303030;
    width: 90vw;
    height: 10vh;
    text-align: center;
    color: white;
    font-style: italic;
    
}

.container1{
    margin-left: 5%;
    color: black;
    width: 90%;
}

.container2{
    margin-top: 6%;
    margin-left: 5%;
    background-color: #303030;
    width: 90vw;
    height: 10vh;
    color: white;
}