<div class="container" *ngIf="currentblogvalue">
  <mat-progress-bar *ngIf !=currentblogvalue mode="indeterminate"></mat-progress-bar> 
  
<!--<div class="row margin">
  <div class="col-6">
    book-details works! 

  </div>
  <div class="col-6">
    {{currentblogvalue.name}}

  </div>
  </div>

  <div class="row">
    <div class="col-6">
      book-details works! 

    </div>
    
    <div class="col-6">
      {{currentblogvalue.isbn}}

    </div>

    </div>

    <div class="row">
      <div class="col-6">
        book-details works! 
  
      </div>

      <div class="col-6">
        {{currentblogvalue.numberOfPages}}
  
      </div>

</div>

<div class="row">
  <div class="col-6">
    book-details works! 

  </div>

  <div class="col-6">
    {{currentblogvalue.authors}}

  </div>

</div>

<div class="row">
<div class="col-6">
  Publishers 

</div>

<div class="col-6">
  {{currentblogvalue.publisher}}

</div>

</div>

<div class="row">
<div class="col-6">
  country 

</div>

<div class="col-6">
  {{currentblogvalue.country}}

</div>

</div>


<div class="row">
<div class="col-6">
  Released 

</div>

<div class="col-6">
  {{currentblogvalue.released}}

</div>

</div>

<div class="row">
  <div class="col-6">
    
      characters<br/>
   

  </div>

  <div class="col-6">
    <p *ngFor="let characters of currentcharacter">
      {{characters}}<br/>
    </p>

  </div>


</div>-->

<table class="table table-striped">
 
  <tbody>
    <tr>
      
      <td>Name Of  Character </td>
      <td><div class="margin11" *ngIf ="currentblogvalue.name;else other_content13">{{currentblogvalue.name}}
          <div><ng-template #other_content13>No name available</ng-template></div> 
      </div></td>
     
    </tr>
    <tr>
      
      <td>gender</td>
      <td><div class="margin11">{{currentblogvalue.gender}}
        </div></td>
      
    </tr>
    <tr>
      
        <td>aliases</td>
        <td><div class="margin11">{{currentblogvalue.aliases}}
          </div></td>
      
    </tr>
    <tr>
      
        <td>allegiances</td>
        <td><div class="margin11">{{currentblogvalue.allegiances}}
          </div></td>
      
    </tr>
    
    <tr>
      
        <td>tvSeries</td>
        <td><div class="margin11">{{currentblogvalue.tvSeries}}
          </div></td>
      
    </tr>
    <tr>
      
        <td>playedBy</td>
        <td><div class="margin11">{{currentblogvalue.playedBy}}
          </div></td>
      
    </tr>

    <tr>
      
        <td>Books played in :-</td>
        <td><div class="margin11" *ngFor="let characters of currentBookName">
           <b>Name:-</b> {{characters.name}} 
            <br/>
            know more about {{characters.name}} go to url ({{characters.url}})
            <br/>
          
          </div></td>
      
    </tr>

    

    <tr>
      
        <td></td>
        <td><div class="margin11">
            <mat-icon></mat-icon>
            <a class="btn btn-success" (click)="goBack()">Go Back</a>
          </div></td>
      
    </tr>
  </tbody>
  
</table>


</div>

