<div class="container">
  <div class="row">
    <div class="col">
      <img class="imgsize d-sm-none d-md-none d-lg-none d-xl-block" src="assets/images/game-of-thrones.jpg">
    </div>

    <div class="col">
      <img class="imgsize d-none d-lg-block d-xl-none" src="assets/images/game-of-thrones.jpg">
    </div>

    <div class="col">
      <img class="imgsize1 d-none d-sm-block d-md-block d-lg-none" src="assets/images/game-of-thrones.jpg">
    </div>

  </div>
   <br/><br/>

  <div class="row">
    <div class="col fontsize">
          <h3>Worlds Best Series Is here</h3>
      </div>
      </div>
      <br/><br/>



  <div class="row margin">
    <div class="col-xl-4 col-lg-4  col-md-4">
      <button  type="button" 
      matTooltip="Click to see details"
      matTooltipClass="example-tooltip-red"
      aria-label="Button that shows a red tooltip"
      matTooltipPosition="above"
      class="example-button"
      
      class="btn btn-danger buttonsize" id="book" [routerLink]="['/books']">
        Books  </button>
      </div>

      <div class="col-xl-4  col-lg-4  col-md-4">
        <button type="button" 
        matTooltip="Click to see details"
matTooltipClass="example-tooltip-red"
aria-label="Button that shows a red tooltip"
matTooltipPosition="above"
class="example-button"
        class="btn btn-success buttonsize" [routerLink]="['/houses']">Houses</button>
        </div>

        <div class="col-xl-4  col-lg-4  col-md-4">
          <button type="button"
          matTooltip="Click to see details"
          matTooltipClass="example-tooltip-red"
          aria-label="Button that shows a red tooltip"
          matTooltipPosition="above"
          class="example-button"
          class="btn btn-primary buttonsize" [routerLink]="['/characters']">Characters</button>
          </div>


    </div>

    

    

    <!--
        <div class="col-xl-4">
          <div class="card boarder" style="width: 18rem;">
            <img class="card-img-top" src="" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          </div>
        


        
            <div class="col-xl-4">
              <div class="card boarder" style="width: 18rem;">
                <img class="card-img-top" src="" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              </div>
            -->
  
</div>